@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	 font-family: "Montserrat", sans-serif;
}

nav{
	display: flex;
	background-color: #1C2833;
	height: 80px;
	width: 100%;
	justify-content: space-between;
	padding: 0px 50px 0px 80px;
	align-items: center;
}

.nav1_logo{
	font-size: 25px;
	font-weight: bold;
	color: white;
}

nav ul{
	display: flex;
}

nav ul li{
	list-style-type: none;
	margin: 0px 8px;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 18px;
	font-weight: 700;
	padding: 7px 13px;
	border-radius: 3px;
	transition: 0.5s;
	text-transform: uppercase;
}

nav ul li a:hover, nav ul li a.active_bar{
	background-color: #566573;
}

.menu_btn{
	color: white;
	font-size: 22px;
	cursor: pointer;
	display: none;
}

#click{
	display: none;
}

/* Responsive wrok start here  */

@media only screen and (max-width: 940px) {

   .menu_btn{
	display: block;
   }

   nav ul{
    position: fixed;
	top: 80px;
	left: -100%;
	height: 100vh;
	width: 100%;
	flex-direction: column;
	background-color: #17202A;
	text-align: center;
	padding-top: 20px;
	transition: all 0.5s ease;
   }

   #click:checked ~ .menu_btn i::before{
	content: "\f00d";
   }
   #click:checked ~ ul{
	left: 0%;
   }

   nav ul li{
	margin: 50px 0px;
   }

   nav ul li a{
	font-size: 22px;
   }

   nav ul li a:hover, nav ul li a.active_bar{
	background: none;
	color: red;
   }

}

/* Header section code start */

header{
	background-image: url('../images/rt.jpg');
	height: 90vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	
}

/* first section of Main section start here  */

#frist_secton{
	background-color: #16213E;
	padding-bottom: 100px;
}

#service_parent{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 1100px;
	margin: 0px auto;
	grid-gap: 25px;
}

.service_title{
text-align: center;
color: white;
padding: 50px 0px;
letter-spacing: 0.2em;
font-size: 28px;

}

.single_service_card{
    background-color: white;
	text-align: center;
	color: black;
	padding: 30px 20px;
	border-radius: 5px;
	border: 3px solid green;
	box-shadow: 5px 5px 10px gray;
	transition: 0.5s;
}

.single_service_card:hover{
	background-color: rgb(190, 190, 202);
	box-shadow: 5px 5px 15px rgb(243, 237, 237, 0.5);
}

.single_service_card i{
	font-size: 40px;
}

.single_service_card h2{
	margin: 10px 0px;
	font-weight: bold;
}

.single_service_card p{
	font-weight: bold;
}

/* first section of main tag media querry code start here  */

@media only screen and (max-width:688px) {
#service_parent{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	width: 100%;
	grid-gap: 10px;
}
}

@media only screen and (min-width: 699px) and (max-width: 1100px) {
	
#service_parent{
	display: grid;
	grid-template-columns:repeat(2, 1fr);
	width: 100%;
	grid-gap: 20px;
}
	
}